[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "gllvm"]
	path = gllvm
	url = https://github.com/jenniniku/gllvm
	shallow = true
	registered = true
